.chatLayoutEnd {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1em;
  background: #58bf56;
  color: white;
  padding: 1em;
  border-radius: 1em;
  max-width: 60%;
  word-wrap: break-word;
}

.chatLayoutStart {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1em;
  background: #e5e6ea;
  color: black;
  padding: 1em;
  border-radius: 1em;
  max-width: 60%;
  word-wrap: break-word;
}

.chatLayoutName {
  height: 50;
  width: 50;
  margin-right: 0.5em;
  border: 2px solid #e5e6ea;
  border-radius: 25;
  text-align: center;
  font-size: 18pt;
}
